@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mohave:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html,
body {
  font-family: "Mohave", sans-serif;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

nav {
  top: 0px;
  display: flex;
  width: 100%;
  background-color: rgb(43, 106, 84);
  color: white;
}

#logo {
  width: 15%;
  margin-right: 20px;
}

footer {
  flex-shrink: 0;
  width: 100%;
  background-color: rgb(43, 106, 84);
  color: white;
  position: relative;
  bottom: 0px;
}

footer p {
  text-align: center;
}

#interno {
  background-image: url(img/home/interno.jpg);
}

#guida {
  background-image: url(img/home/guida.jpg);
}

#esterno {
  background-image: url(img/home/esterno.jpg);
}

.mydiv {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.mydiv > div {
  margin-left: auto;
  margin-right: auto;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.menu > div {
  border-radius: 15px;
  color: white;
  justify-content: right;
  align-items: baseline;
  display: flex;
  background-size: cover;
  width: 300px;
  height: 200px;
  box-shadow: 4px 4px 10px black;
  margin: 1%;
  transition-duration: 1s;
}

.menu > div:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 20px black;
}

.menu > div > h1 {
  background-color: rgb(43, 106, 84, 0.8);
  padding: 1%;
}

.buttons {
  min-width: 267px;
}

.buttons > a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.buttons {
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

#logo {
  margin-left: 5px;
}

#image {
  width: 100%;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media (max-width: 900px) {
  .mydiv > .menu {
    margin-top: 3px;
    flex-direction: column;
  }
}

@media (max-width: 837px) {
  nav {
    flex-direction: column;
  }
  #logo {
    width: 100%;
    text-align: center;
  }
  .buttons {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    text-align: center;
  }
  .buttons > a {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
  }
  #barraRicerca {
    max-width: 60%;
  }
}

#myform {
  padding: 30px;
  margin-top: 45px;
  text-align: center;
}

#descrizione {
  color: rgb(43, 106, 84);
  width: 100%;
  text-align: center;
}
#myform > input[type="text"],
input[type="email"],
input[type="password"] {
  width: 280px;
  height: 35px;
  margin: 5px;
  margin-left: 1px;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(43, 106, 84);
  font-size: 15px;
  border-color: rgb(43, 106, 84);
  border-radius: 15px;
  cursor: pointer;
}

.inputHover:hover {
  color: rgb(43, 106, 84);
  background-color: rgba(249, 246, 239, 0.5);
}
.no_decoration {
  text-decoration: none;
  color: white;
}
.submit {
  width: 140px;
  height: 25px;
  text-align: center;
  border-radius: 15px;
  background-color: rgb(43, 106, 84);
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#updateButtons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.center {
  text-align: center;
}

#divCenter {
  margin-left: auto;
  margin-right: auto;
}

.product {
  font-size: 15px;
  margin-top: 100px;
  height: 210px;
  width: 210px;
  background-color: rgb(183, 211, 175);
  border-radius: 20px;
}

.productImage {
  padding-left: 5%;
  margin-top: -100px;
  margin-right: 50%;
  height: 180px;
}

.productDescription {
  font-size: 17px;
  margin-top: 0px;
  margin-left: 6px;
  margin-right: 2px;
}

.button1 {
  width: 150px;
  background-color: rgb(183, 211, 175);
  border-radius: 20px;
  margin-left: 12%;
  transition: transform 0.6s, background-color 0.6s;
}

.button1:hover {
  background-color: rgb(139, 202, 137);
  transform: scale(1.05);
  cursor: pointer;
}

#ricerca {
  width: 50%;
}

#ricerca > input[type="text"] {
  border: none;
  width: 70%;
  text-align: left;
  color: black;
  background-color: white;
  border-radius: 15px;
}

#testoRicerca {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 4px;
}

#ricerca > input[type="submit"] {
  height: 25px;
  margin-left: 5px;
  border: none;
  width: 25%;
  max-width: 60px;
  background-color: rgb(128, 183, 98);
  text-align: center;
  color: white;
  border-radius: 15px;
}

.prezzo {
  font-weight: bold;
}

.number_items {
  border: 1px solid rgb(43, 106, 84);
  border-radius: 5%;
  width: 25%;
  margin: 5%;
}

.prezzo,
.number_items {
  display: inline;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 6px;
  margin-right: 2px;
}

.productEval {
  border-width: 2px;
  border-bottom-style: dashed;
  border-color: rgb(43, 106, 84);
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.productEvalName {
  font-size: 22px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3%;
  margin-left: 1%;
}

.productEvalImage {
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.star {
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
}
