        @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mohave:wght@300&display=swap');

        html,
        body {
            background-color: rgba(215, 247, 207, 1);
            height: 100%;
            margin: 0%;
            padding: 0%;
        }

        nav {
            display: flex;
            position: fixed;
            width: 100%;
            background-color: rgb(43, 106, 84);
            color: white;
        }

        nav div {
            /*border-style: solid;
            border-width: 3px;
            border-color: black;*/
            color: white;
            width: 50%;
        }

        footer {
            position: relative;
            width: 100%;
            bottom: 0;
            background-color: rgb(43, 106, 84);
            color: white;

        }

        footer p {
            text-align: center;
        }

        #interno {
            margin: 1%;
            background-image: url(img/interno.jpg);
            box-shadow: 4px 4px 2px black;

        }

        #guida {
            margin: 1%;
            background-image: url(img/guida.jpg);
            box-shadow: 4px 4px 2px black;

        }

        #esterno {
            margin: 1%;
            background-image: url(img/esterno.jpg);
            box-shadow: 4px 4px 2px black;

        }

        .menuimg {
            max-width: 100%;
            padding: 2%;
            flex: 1;
            width: 200px;
            height: auto;
        }

        .mydiv {
            display: flex;
            margin: auto;
            flex-wrap: wrap;
        }

        .mydiv>div {
            margin-left: auto;
            margin-right: auto;
        }

        .menu {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            text-align: center;
        }

        .menu>div {
            font-family: 'Mohave', sans-serif;
            color: white;
            justify-content: right;
            align-items: baseline;
            display: flex;
            background-size: cover;
            width: 300px;
            height: 200px;
        }

        #buttons>a {
            font-family: 'Mohave', sans-serif;
            text-decoration: none;
            color: white;
            padding: 12px;
        }

        #buttons>a:hover{
            background-color: rgba(60, 143, 114, 0.993);
        }

        #buttons {
            line-height: 45px;
            text-align: right;
        }

        #logo {
            margin-left: 5px;
        }

        #image {
            width: fit-content;
            max-width: 100%;
            align-items: center;

        }

        @media (max-width: 900px) {
            .mydiv>div {
                flex-direction: column;
            }
        }

        @media (max-width: 463px) {
            nav {
                flex-direction: column;
            }
            nav>div {
                width: 100%;
                text-align: center;
            }                   
            nav>#buttons {
                text-align: center;
            }
        }

.headerbc {
    background-color: rgb(43, 106, 84);
}

        #descrizione {
            width: 100%;
            text-align: center;
        }
    